/* BOX SIZING & RESET ===============================*/

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

/* RESPONSIVE IMAGES ================================*/

img {
    max-width: 100%;
    height: auto;
}

/* CUSTOM PROPERTIES ================================*/

:root {
    --main-bg-color: #;
    --main-txt-color: #;
    --primary-color: #87EBD3;
    --secondary-color: #27453d;
    --tertiary-color: #ccf6ec   ;
    --light-grey-color: #f8faf9;
    --mid-grey-color: #b7c7c4;
    --dark-grey-color: #3b413f;

    --container-width: 960px;
	
	--default-font-size: 16px;
	--xs-font-size: 0.64rem;
	--sm-font-size: 0.8rem;
	--l1-font-size: 1.25rem;
	--l2-font-size: 1.563rem;
	--l3-font-size: 1.953rem;
	--l4-font-size: 2.441rem;
	--l5-font-size: 3.052rem;
}

/* MAIN STYLING =====================================*/

h1, h2, h3 {
    font-family: 'Lora', serif;
}

body {
    font-family: 'Merriweather', serif;
    font-size: var(--default-font-size);
    font-weight: 400;
    color: var(--dark-grey-color);
    background-color: var(--primary-color);
    padding: 1rem;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

#container {
    background-color: var(--tertiary-color);
    width: var(--container-width);
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.box-shadow {
    box-shadow:
        0 3.4px 2.7px rgba(0, 0, 0, 0.022),
        0 8.7px 6.9px rgba(0, 0, 0, 0.031),
        0 17.7px 14.2px rgba(0, 0, 0, 0.039),
        0 36.5px 29.2px rgba(0, 0, 0, 0.048),
        0 100px 80px rgba(0, 0, 0, 0.07);
}

.border-radius {
    border-radius: var(--sm-font-size);
}

/*===================================================*/
/* SECTIONS =========================================*/
/*===================================================*/

/* HEADER ===========================================*/

h1 {
    margin: var(--l5-font-size) 0;
}

/* MAIN =============================================*/

h2 {
    margin-bottom: var(--l1-font-size);
}

input {
    font: inherit;
    text-align: center;
    border: 1px solid var(--mid-grey-color);
    padding: 1rem;
    width: 350px;
}

button {
    display: block;
    font: inherit;
    background-color: var(--secondary-color);
    color: var(--light-grey-color);
    border: none;
    padding: 1rem var(--l3-font-size);
    margin: var(--l3-font-size) auto;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: var(--dark-grey-color);
    transform: scale(1.1);
}

/* RESULTS ==========================================*/

#results p {
    margin-top: 1rem;
}

#results p:nth-last-of-type(1) {
    margin-top: var(--l5-font-size);
}

/* FOOTER ===========================================*/

footer {
    width: var(--container-width);
    margin: 0 auto;
    padding-top: 1rem;
    text-align: center;
}

footer a {
    color: var(--dark-grey-color);
}

footer a:visited {
    color: var(--dark-grey-color);
}

/* SECTION NAME =====================================*/



/* SECTION NAME =====================================*/



/* SECTION NAME =====================================*/



/* SECTION NAME =====================================*/



/* SECTION NAME =====================================*/



/* SECTION NAME =====================================*/



/*==================================================*/
/*==================================================*/
/* MEDIA QUERIES - TABLET LANDSCAPE 1024px =========*/

@media only screen and (max-width: 1024px) {
    
    #container,
    footer {
        width: 100%;
    }

}

/*==================================================*/
/* MEDIA QUERIES - TABLET PORTRAIT 768px ===========*/

@media only screen and (max-width: 768px) {
    


}

/*==================================================*/
/* MEDIA QUERIES - MOBILE 544px ====================*/

@media only screen and (max-width: 544px) {
    


}
